input,
textarea {
  
  padding: 10px;
  border-radius: 7px;
  color: #292929; 

  width: 70vh;
  background-color: #f0f0f0;
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
}

input {
  min-height: 40px;
  padding: 10px;
}

input::placeholder,
textarea::placeholder{
  color: rgb(10, 10, 10);
}

textarea{
    min-height: 100px;
    padding: 10px;
}